{%extends 'allNews/base.html'%}

 {% block content %}

 <div class="container text-center">

  <div class="text-center mb-3">
    <img src="{{article.article_image.url}}" class="card-img-top img-responsive w-100" alt="readers" style="height: 80vh; width: 100vh"/>
    <div class="card-body">
      <h5 class="card-title" style="font-weight: bold;">{{article.title}}</h5>
      <div class="row card-text " style="text-align: center">
        {% autoescape on %}
        {{article.post| safe}}
       {% endautoescape %}
   
      </div>
      <p class="card-text">
        <small class="text-muted" style= "color: #ef50fe96;" >{{article.pub_date|timesince}} by {{article.editor.firstName}}</small>
      </p>
    </div>
  </div>

 </div>


 {% endblock %}